div {
	width: 50%;
	background: #00b4db; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#0083b0,
		#00b4db
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#0083b0,
		#00b4db
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 10px;
	color: darkblue;
	margin-bottom: 20px;
}
body {
	background: #56ccf2; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2f80ed,
		#56ccf2
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2f80ed,
		#56ccf2
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
kbd {
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	color: white;
}
